<h1 class="indent">Stupid Coaching</h1>

<div class="question">
  <%= @query %>
  <p>- You</p>
</div>
<div class="reply">
  <div class="shout">
    <%= @reply %>
  </div>
  <p>- Your coach</p>
</div>

<div class="indent a">
  <%= link_to "Ask an other question", ask_path %>
</div>

