<h1 class="indent">questions?</h1>
<form action="answer" class="container">
  <input type="text" name="first" class="input" placeholder="ask your question here">
  <input type="submit" value="Ask!" class="btn-blue">
</form>
